/* landing page*/
.logo-img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.bydesign-img {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  display: block;
}

html,body {
  min-height: 100%;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Bebas Kai', sans-serif;
  background-color: black;
}

/* navigation*/
a {
  color: white;
  text-decoration: none;
  /* this changes the link colour and gets rid of the underline */
  padding:20px}
}

/*end of navigation*/

header {
  padding:30%;
}
header main {
  padding:30px;
}
header h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 900%;
  opacity: 100%;
  padding:50px;
  color: white;
}
  /* FOOTER STYLES
-----------------------------------------*/
/* Sticky Footer - http://css-tricks.com/snippets/css/sticky-footer */
.page-wrap {
  min-height: 100%;
  margin-bottom: -55px; /* must be the same height as footer */
}
.page-wrap:after {
  content: "";
  display: block;
}
footer,
.page-wrap:after {
  height: 55px; /* however tall you want the footer to be */
  /* add colour and padding */
}

  /* CONTACT STYLES
  -----------------------------------------*/
  form {
    width: 400px;
  }
  input,
  textarea {
    border: 1px solid #BF6D50;
    width: 400px;
    margin-bottom: 10px;
  }
  input {
    height: 20px;
  }
  textarea {
    height: 100px;
  }
  button {
    background: #BF6D50;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
  }

/*About Page*/
p {
  color: white;
}

/*PORTFOLIO PAGE*/
.portfolio {
  background-color: black;
  background-size: contain;
  height: 100vh;
}
.portfoliocontainer {
  height:100%;
  display: flex;
}
.portfoliolinks {
  flex-grow: 10;
}
.portfoliolabels-img {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: 3%;
}

/*Photography Page*/
.photographypage {
  background-color: black;
  background-size: contain;
  height:100vh;
}
.photographycontainer {
    height: 100%;
    display: flex;
}
.photographylinks {
  flex-grow: 10;
}
.photographylabels-img {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
#backnav {
  padding: 1%;
  margin-left: 7px;
}

/*CEBL*/
.CEBL {
  background-image:url(../images/ceblno+.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  position:absolute;
  background-attachment: fixed;
  background-color: black;
}
.header {
  top: 0%;
  width: 100%;
  height:10%;
}
.header-img {
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  display: block;
  right: 25%;
  padding-left: 0%;
}
.topleft-img {
  position: fixed;
  top: 0px;
  left:0px;
  width: 2.5em;
  height: 2.5em;
}
.bottomleft-img {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 2.5em;
  height:2.5em;
}
.topright-img {
  position:fixed;
  top: 0px;
  right: 0px;
  width:2.5em;
  height: 2.5em;
}
.bottomright-img {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 2.5em;
  height: 2.5em;
}
.ceblsidetextR-img {
  position:fixed;
  right:0%;
  bottom:15%;
}
.ceblsidetextL-img {
  position:fixed;
  left:0%;
  transform:rotate(180deg);
  top:15%;
}
/* CEBL Image Grid*/
.container {
  height: 100%;
  display: flex;
}
.ceblgallery {
  flex-grow: 10;
}
.row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.cebledits-img {
  width: 25%;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
  margin-top: 30px;
  /* border: 1px solid white; */
}

/*HARDWOOD CLASSIC*/
.hardwoodclassic {
  background-image: url(../images/hcbackground.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  position:absolute;
  background-attachment: fixed;
  background-color: black;
}
.hccontainer {
  height:100%;
  display: flex;
}
.hcgallery {
  flex-grow: 10;
}
.hcedits-img {
  width: 25%;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
  margin-top: 30px;
}
.hcsidetextL-img {
  position:fixed;
  top:20%;
  left:0%;
}
.hcsidetextR-img {
  position:fixed;
  transform:rotate(180deg);
  top:20%;
  right:0%;
}

/*DESIGN PAGE*/
.designs {
  background-image: url(../images/design.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
  background-attachment: fixed;
}
.designheader {
  top: 0%;
  width: 100%;
}
.designcontainer {
  display: flex;
}
.designgallery {
  flex-grow: 10;
}
.graphicdesigns-img {
  width: 25%;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 2.5%;
}
.designsidetextL-img {
  position:fixed;
  transform:rotate(180deg);
  top:25%;
  left:0%;
}
.designsidetextR-img {
  position:fixed;
  top:25%;
  right:0%;
}
#backbuttonp {
  margin: 10px;
  font-family: 'Bebas Neue', sans-serif;

}
